{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
<div class="container"  style="font-family: 'Caveat', cursive; font-size: 20px;">
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">
{{wtf.quick_form(registration_form)}}
</div>
<div class="col-md-2"></div>
</div>
</div>
{% endblock%}
