<style>
    .navbar {
        background-color: rgb(5, 5, 82);
        border: none;
        border-radius: 0%;
        margin: 0%;
    }
</style>
<div class="navbar navbar-inverse" role="navigation" style="padding: 0.5%;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="font-size: 24pt; color: goldenrod;">AutoMech</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="font-size: 14pt;">
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="font-size: 13pt;">

            <button class="btn btn-outline-info btn-sm" type="submit" style="margin-top:4%"><a
                    href="">Subscribe</a></button>
            <li><a href="/">Sign out</a></li>
            <li><a href="/">Sign in</a></li>
        </ul>
    </div>

</div>