{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="container">
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
      <button><a href="/newqueries">addquery</a></button>
      <div class="container">
        {%for query in queries %}
        <p>{{query.query}}</p>
        <p>{{query.time_posted}}</p>
        {% endfor %}

      </div>
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>
{% endblock%}