{% extends 'base.html'%}

{%block content%}

<style>
    input{
        padding: 2%;
    }
</style>
<div class="col-md-12 text-center"
    style="padding: 20%;; margin-bottom:3%;width:100%; background-image:url('https://cdn.pixabay.com/photo/2017/02/02/18/16/child-2033444_960_720.jpg'); background-repeat:no-repeat; background-position: center; background-size:cover">
    <div class="" style="color:white">
    <h1 style="font-size:50px; font-weight:700">Find Mechanics Closeby</h1>
    <h3>Our mechanics are available for you anywhere at anytime</h3>
    </div>
</div>

<body class="">

    <div class="container">
    <div class="row">
        <form>
            <div class="col-md-10">
                <div class="col-md-4">
                    <input type="text" name="mech_query" placeholder="Search for a mechanic" class="form-control">
                </div>
                <div class="col-md-4">
                    <input type="text" name="location_query" placeholder="Enter location" class="form-control">
                </div>
                <div class="col-md-4">
                    <input type="text" name="service_query" placeholder="Enter service" class="form-control">
                </div>
            </div>

            <div class="col-md-2">

                <input type="submit" value="Submit" style="border:none;" class="btn btn-primary col-md-12">
            </div>
        </form>
    </div>
    <h4>For best results consider, reviews specialization and experience</h4>
    <hr>
    <h3>Top Mechanics</h3>
    <h4>See our top mechanics wit great client service</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="text-center" style="height: 300px; background-color:orange; box-sizing: border-box;">
                <img src="https://pixabay.com/get/gce19265bf199b5a618569588e1c3ae76e97e54e8c7de9f26d6fac6887e3bbb2d160866913032182753c6888f77ddf61f_640.jpg"
                    height="100%" width="100%" border-radius="50%">
            </div>
            <img src="https://pixabay.com/photos/woman-face-portrait-model-skin-2303361/" height="100%" width="100%"
                border-radius="50%">
        </div>
        <div class="col-md-4">
            <div style="height: 300px; background-color:red; box-sizing: border-box;"></div>
            <img src="https://pixabay.com/photos/woman-face-portrait-model-skin-2303361/" height="100%" width="100%"
                border-radius="50%">

        </div>
        <div class="col-md-4">
            <div style="height: 300px; background-color:blue; box-sizing: border-box;"></div>
            <img src="https://pixabay.com/photos/woman-face-portrait-model-skin-2303361/" height="100%" width="100%"
                border-radius="50%">

        </div>
    </div>
</div>
</body>
{%endblock%}