{% extends 'base.html'%}

{%block content%}

<style>
    .form-control,
    .btnsub {
        height: 50px;
    }

    .results {
        padding-top: 4%;
    }

    img {
        border-radius: 50%;
    }

    .lorem {
        padding: 3%;

    }

    #outer-div {
        text-align: center;
        padding-top: 3%
    }

    #inner-div {
        display: inline-block;
        margin: 0 auto;
    }

    .mech-info {
        /* text-align: left; */
        border-radius: 2%;
        box-shadow: 0vh 0vh 3vh rgb(194, 189, 189);
        background-color: rgb(238, 233, 233);
    }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
<div class="col-md-12 text-center"
    style="padding: 10%; margin-bottom:3%;width:100%; background-image:url('https://cdn.pixabay.com/photo/2017/02/02/18/16/child-2033444_960_720.jpg');font-family: 'Caveat', cursive; background-repeat:no-repeat; background-position: center; background-size:cover">
    <div class="" style="color:white">
        <h1 style="font-size:50px; font-weight:700">Find Mechanics Closeby</h1>
        <h3>Our mechanics are available for you anywhere at anytime</h3>
    </div>
</div>

<body class="">

    <div class="container">
        <form class="row" action="/search" method=post>
            <div class="col-md-10">
                <div class="col-md-4">
                    <input type="text" name="mech_query" placeholder="Search for a mechanic" class="form-control">
                </div>
                <div class="col-md-4">
                    <input type="text" name="location_query" placeholder="Enter location" class="form-control">
                </div>
                <div class="col-md-4">
                    <input type="text" name="service_query" placeholder="Enter service" class="form-control">
                </div>
            </div>

            <div class="col-md-2">
                <input type="submit" value="Submit" style="border:none;" class="btnsub btn btn-primary col-md-12">
            </div>
        </form>
        <h5 class="results">For best results consider, reviews specialization and experience</h5>
        <hr>
        <h3 class="results">Top Mechanics</h3>
        <h5 style="padding-top:2%">See our top mechanics with great client service</h5>
        <div class="row text-center">
            <div class="col-md-4" id="outer-div">
                <div class="mech-info" style="box-sizing: border-box; padding: 2%;">

                    <div class="photo" id="inner-div" style="height: 120px; width: 120px;">
                        <img src="https://www.artistsandillustrators.co.uk/uploads/tinymce/images/painting-animated-faces-photo.jpg"
                            height="100%" width="100%">
                    </div>
                    <h4>Andrea Kitas</h4>
                    <p class="lorem">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat."</p>
                </div>
            </div>

            <div class="col-md-4" id="outer-div">
                <div class="mech-info" style="box-sizing: border-box; padding: 2%;">
                    <div class="photo" id="inner-div" style="height: 120px; width: 120px;">
                        <img src="https://www.headshotsprague.com/wp-content/uploads/2019/07/Headshots_Prague-emotional-portrait-of-a-smiling-entrepreneur-1.jpg"
                            height="100%" width="100%">
                    </div>
                    <h4>Martez Retas</h4>
                    <p class="lorem">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat."</p>
                </div>
            </div>
            <div class="col-md-4" id="outer-div">
                <div class="mech-info" style="box-sizing: border-box; padding: 2%;">

                    <div class="photo" id="inner-div" style="height: 120px; width: 120px;">
                        <img src="http://www.robophot.com/wp-content/plugins/widgetkit/cache/gallery/379/002_boehm_andre_130918_test_tiffocsel_no_stackretou_cut_300-6af69709ca.jpg"
                            height="100%" width="100%">
                    </div>
                    <h4>Monte Gonzelez</h4>
                    <p class="lorem">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat."</p>
                </div>
            </div>

        </div>


    </div>
    </div>
</body>
{%endblock%}